header {
  width: 100%;
  height: 7.2rem;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 1rem 3.2rem;
  box-shadow: var(--header-box-shadow);
  @media only screen and (max-width: 24.37em) {
    height: 6.2rem;
    padding: 1rem 2rem;
  }
}

.logo img {
  width: 6.2rem;
  @media only screen and (max-width: 24.37em) {
    width: 4.8rem;
  }
}

.button {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.name {
  cursor: pointer;
  color: var(--text-color);
  font-size: 1.6rem;
  padding-bottom: 1px;
  border-bottom: 2px solid var(--text-color);
  transition: transform 0.2s;
  &:hover {
    transform: translateY(-2px);
  }
}
