<app-error (event)="onEvent()" *ngIf="error" [error]="error"></app-error>
<div class="container">
  <div class="container__form">
    <h1 class="container__title">Welcome back!</h1>
    <h2 class="container__title2">Signin here</h2>
    <form #form="ngForm" (ngSubmit)="getFormData(form)">
      <div class="field">
        <label for="email">Email address</label>
        <input pattern="^[^ ]+@[^ ]+\.[a-z]{2,3}$" ngModel #email="ngModel" required email ngModel #fname="ngModel"
          required placeholder="Enter email address" type="email" name="email" id="email">
        <span class="error" *ngIf="!email.valid && (email.touched || email.dirty)">
          <p *ngIf="email.errors?.['required']">Please enter your email address</p>
          <p *ngIf="email.errors?.['pattern']">Please enter valid email address</p>
        </span>
      </div>
      <div class="field">
        <label for="password">Email address</label>
        <div class="field__pass">
          <input ngModel #pass="ngModel" required minlength="8" placeholder="Enter password"
            [type]="path ? 'password' : 'text' " name="password" id="password">
          <img (click)="checkPath()" class="eye" [src]="getPath()" />
        </div>
        <span class="error" *ngIf="!pass.valid && (pass.touched || pass.dirty)">
          <p *ngIf="pass.errors?.['required']">Please enter your password</p>
          <p *ngIf="pass.errors?.['minlength']">Please enter of 8 length</p>
        </span>
      </div>
      <div class="field">
        <button type="submit" [ngClass]="{'invalid':!form.valid}" class="btn btn-secondary btn--signup">
          <div>Signin</div>
          <div *ngIf="isLoading" class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </button>
      </div>
      <div class="field">
        <p class="signinlink">Want to signup &rarr; <a routerLink="/signup">Singup</a></p>
      </div>
    </form>
  </div>
</div>