.backLink {
  text-decoration: none;
  font-size: 1.4rem;
}
.container {
  margin-top: 2.4rem;
}
.blogdetails {
  display: flex;
  flex-direction: column;
  max-width: 90rem;
  margin: 0 auto;
  &__img {
    width: 70%;
    margin: 3.2rem auto;
    height: 30rem;
    border-radius: 2.5rem;
    @media only screen and (max-width: 75em) {
      width: 80%;
    }
    @media only screen and (max-width: 50em) {
      width: 90%;
    }
    @media only screen and (max-width: 34.5em) {
      width: 100%;
    }
  }
  &__title {
    margin: 3.2rem 0 0 2.4rem;
    font-size: 5.2rem;
    color: var(--text-color);
    text-align: center;
    @media only screen and (max-width: 75em) {
      font-size: 4.8rem;
    }
    @media only screen and (max-width: 57em) {
      font-size: 4.2rem;
    }
    @media only screen and (max-width: 36em) {
      font-size: 3.8rem;
      width: 80%;
    }
  }
}

.heading {
  font-size: 1.8rem;
  line-height: 0.8;
  color: var(--text-color);
}
.paragraph {
  font-size: 1.4rem;
  line-height: 0.6;
  color: var(--text-color2);
}
